<table style="width:100%" >
  <tr>
    <th>Tên sách</th>
    <th>Thể loại</th>
    <th>Nhà xuất bản</th>
    <th>Tổng số lượng</th>
    <th>Số lượng hiện tại</th>
    <th>Số lượng đã mất</th>
  </tr>

    {{#each dataTable}} 
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.category}}</td>
            <td>{{this.publisher}}</td>
            <td>{{this.total_amount}}</td>
            <td>{{this.current_number}}</td>
            <td>{{this.total_lost}}</td>
            <td>
              <a href="/books/edit?id={{this.id}}" class="btn btn-link">Sửa</a>
              <a href="/books/delete?id={{this.id}}" class="btn btn-link">Xóa</a>
            </td>
        </tr>
    {{/each}}
    
</table>
<div class="add-book">
  <a href="/books/add">Thêm</a>
</div>
