<table style="width:100%" >
  <tr>
    <th>MSSV</th>
    <th>Họ</th>
    <th>Tên</th>
    <th>Lớp</th>
    <th>Khoa</th>
    <th>Địa chỉ</th>
    <th>Số ĐT</th>
    <th>Ngày vào trường</th>
    <th>Ngày ra trường</th>
  </tr>

    {{#each dataTable}} 
        <tr>
            <td>{{this.MSSV}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.class}}</td>
            <td>{{this.faculty}}</td>
            <td>{{this.address}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.create_date}}</td>
            <td>{{this.expire_date}}</td>
            <td>
              <a href="/students/edit?id={{this.id}}" class="btl-students edit" >Sửa</a>
              <a href="/students/delete?id={{this.id}}" class="btl-students delete">Xóa</a>
            </td>
        </tr>
    {{/each}}
    
</table>
<div class="add-student">
  <a href="/students/add">Thêm</a>
</div>
